%h1 Apache Tika Results

%form{action: '/results', method: 'get'}
  %p
    %label
      URL of document to extract:
      %br
      %input{type: :text, name: :url, size: 50}
  %p
    %input{type: :submit}